@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">');

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 16px;
}

:root {
  --gutter: 2rem;
}
.row {
  margin-left: calc(-var(--gutter) / 2);
  margin-right: calc(-var(--gutter) / 2);
}

.column {
  padding-left: calc(-var(--gutter) / 2);
  padding-right: calc(-var(--gutter) / 2);
}

.sidebar {
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 1rem;
  text-decoration: none;
}
 
.sidebar a.router-link-active {
  background-color: #b3ffb3;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #80d4ff;
  color: black;
}

.topnav {
  display: block;
  height: 3rem;
  overflow: hidden;
  background-color: black;
  color: white;
}

.topnav a {
  text-decoration: none;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  width: 100%;
  height: 3rem;
  font-size: 16px;
  border: none;
}

.topnav .search-container button {
  float: left;
  width: 100%;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.img {
  margin: 3rem auto;
  max-width: 100%;
  height: 600px;
}

.img-random {
  max-width: 100%;
  height: 300px;
  margin: auto;
  display: block;
}

.img-gallery {
  width: calc(100vw / 3);
  height: calc(100vw / 6);
  background-position: center;
  background-size: cover;
}

.background-img {
  width: 100%;
  background-image: url("/home/quehuong/frontend/new/src/assets/image/beer.png");   
  background-position: center;
  background-size: cover;
}

.search-icon {
  width: 30px;
  height: 30px;
  color: white;
}